*{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: 10px;
}

h1{
    text-align: center;
    padding: 5%;
    color: #ffff;
}

.header{
    background-color: #535c68;
}

.btn{
    margin-top: 2%;
}

.center {
    text-align: center;
    width: 100%;
}


.log-out{
    float: right;
    margin-top: -117px;
    margin-right: 25px;
    color: #c7ecee;
}

.log-out:hover{
    color: #ffff;
}

.home{
    float: right;
    margin-top: -118px;
    margin-right: 160px;
    color: #c7ecee;
}

.home:hover{
    color: #ffff;
}

.delete-button{
    background-color: #ff7675;
    padding: 4%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.delete-button:hover{
    background-color: #d63031;
    color: white;
}


.update-button{
    background-color: #7bed9f;
    padding: 4%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.update-button:hover{
    background-color: #2ed573;
    color: black;
}

td{
    padding: 2%;
}

table {
    border: 1px solid;
    text-align: center;
    width: 100%;
  }

  td{
    width: 20px;
    border: 1px solid;
    text-align: center;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}