*{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    margin-left: 16%;
    padding: 2%;
    color: #ffff;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.center {
    text-align: center;
    width: 100%;
}



td{
    padding: 2%;
}

table {
    border: 1px solid;
    text-align: center;
    width: 100%;
  }

  td{
    width: 20px;
    border: 1px solid;
    text-align: center;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}


  .update-button{
    background-color: #7bed9f;
    padding: 4%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.update-button:hover{
    background-color: #2ed573;
    color: black;
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff;
    margin-left: 1rem;
}

.nav-link {
    color: #ffff;
}

.nav-link:hover {
    color: #ffb606;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

span{
    pointer-events: none;
}

footer{
    background-color: #212529;
    color: #ffff;
    padding: 1%;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    text-align: center;
   
     
}
